# NPM
node_modules

# Exclude folders...
app/topics/**/
app/services/**/

# ...except of standard ROS packages
!app/topics/default.html
!app/topics/topic.component.js
!app/topics/geometry_msgs
!app/topics/nav_msgs
!app/topics/sensor_msgs
!app/topics/std_msgs
!app/services/default.html
!app/services/service.component.js
!app/services/std_srvs
