<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-margin">
            <div class="form-group">
                <label>Motor 1</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.motor_0" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">N</span>
                </div>
            </div>

            <div class="form-group">
                <label>Motor 2</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.motor_1" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">N</span>
                </div>
            </div>

            <div class="form-group">
                <label>Motor 3</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.motor_2" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">N</span></span>
                </div>
            </div>
          
            <div class="form-group">
                <label>Motor 4</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.motor_3" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">N</span></span>
                </div>
            </div>
        </form>
        <button class="btn btn-default pull-right" type="button" ng-disabled="$parent.is_subscribing" style="margin-left: 10px;" ng-click="$parent.publishMessage($parent.latest_message)">Publish</button>
    </div>
</div>
