<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Settings</h2>
            
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-xs-4">
                    <select class="form-control" ng-model="selectedSettingIndex">
                        <option ng-repeat="s in settings track by $index" value="{{ $index }}">{{ s.name }}</option>
                    </select>
                </div>
                
                <div class="col-xs-8">
                    <button class="btn btn-success" ng-click="add()">Add Setting</button>
                    <button class="btn btn-danger" ng-click="remove()">Remove Setting</button>
                    <i style="margin-left: 20px;">Please reload after URL change</i>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Name" ng-model="settings[selectedSettingIndex].name">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">URL</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Address" ng-model="settings[selectedSettingIndex].address">
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" placeholder="Port" ng-model="settings[selectedSettingIndex].port">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Log</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Console" ng-model="settings[selectedSettingIndex].log">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Image Preview Port</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" placeholder="Port" ng-model="settings[selectedSettingIndex].imagePreview.port">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Image Width &times; Height</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" placeholder="Width" ng-model="settings[selectedSettingIndex].imagePreview.width">
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" placeholder="Height" ng-model="settings[selectedSettingIndex].imagePreview.height">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Image Quality</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" placeholder="Quality" ng-model="settings[selectedSettingIndex].imagePreview.quality">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="settings[selectedSettingIndex].battery"> Battery
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
