<div class="row">
  <div class="col-sm-6">
    <form class="form-horizontal form-margin">
      <div class="form-group">
        <label>X</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="$parent.latest_message.x" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">m</span>
        </div>
      </div>

      <div class="form-group">
        <label>Y</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="$parent.latest_message.y" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">m</span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-6">
    <form class="form-horizontal form-margin">
      <div class="form-group">
        <label>&theta;</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="$parent.latest_message.theta" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">rad</span>
        </div>
      </div>
    </form>
  </div>
</div>
