<div class="panel panel-default" ng-class="{'panel-success': toggle}">
  <div class="panel-heading clearfix">
    <button class="btn btn-default btn-sm pull-right" ng-click="toggleSubscription(!toggle)" ng-model="toggle" ng-show="can_subscribe" uib-btn-checkbox>Subscribe</button>

    <h3 class="panel-title">
      {{ topic.abbr }}
      <small style="font-size: 12px;">({{ topic.type }})</small>
    </h3>
  </div>

  <div class="panel-body" ng-switch="topic.type">
    <cc-topic-number ng-switch-when="std_msgs/Int8"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/Int16"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/Int32"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/Int64"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/UInt8"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/UInt16"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/UInt32"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/UInt64"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/Float32"></cc-topic-number>
    <cc-topic-number ng-switch-when="std_msgs/Float64"></cc-topic-number>

    <cc-topic-fluid-pressure ng-switch-when="sensor_msgs/FluidPressure"></cc-topic-fluid-pressure>
    <cc-topic-illuminance ng-switch-when="sensor_msgs/Illuminance"></cc-topic-illuminance>
    <cc-topic-image ng-switch-when="sensor_msgs/Image"></cc-topic-image>
    <cc-topic-imu ng-switch-when="sensor_msgs/Imu"></cc-topic-imu>
    <cc-topic-joy ng-switch-when="sensor_msgs/Joy"></cc-topic-joy>
    <cc-topic-magnetic-field ng-switch-when="sensor_msgs/MagneticField"></cc-topic-magnetic-field>
    <cc-topic-range ng-switch-when="sensor_msgs/Range"></cc-topic-range>
    <cc-topic-relative-humidity ng-switch-when="sensor_msgs/RelativeHumidity"></cc-topic-relative-humidity>
    <cc-topic-temperature ng-switch-when="sensor_msgs/Temperature"></cc-topic-temperature>

    <cc-topic-pose ng-switch-when="geometry_msgs/Pose"></cc-topic-pose>
    <cc-topic-pose-stamped ng-switch-when="geometry_msgs/PoseStamped"></cc-topic-pose-stamped>
    <cc-topic-pose2d ng-switch-when="geometry_msgs/Pose2D"></cc-topic-pose2d>

    <cc-topic-movingpi-range ng-switch-when="movingpi/MsgRange"></cc-topic-movingpi-range>
    
    <cc-topic-flypi-motors-thrust ng-switch-when="flypi/MsgMotorsThrust"></cc-topic-flypi-motors-thrust>
    <cc-topic-flypi-steering ng-switch-when="flypi/MsgSteering"></cc-topic-flypi-steering>

    <cc-topic-default ng-switch-default></cc-topic-default>
  </div>
</div>
