<div class="card">
  <h5 class="card-title">
    {{ service.abbr }}
    <small class="text-muted">({{ service.type }} / Default)</small>
  </h5>

  <div [ngSwitch]="service.type">
    <app-service-std-srvs-empty *ngSwitchCase="'std_srvs/Empty'" [onResponse]="response" (call)="callService($event)"></app-service-std-srvs-empty>
    <!--app-service-std-srvs-set-bool *ngSwitchCase="'std_srvs/SetBool'" [onResponse]="response" (call)="callService($event)"></app-service-std-srvs-set-bool-->
    <app-service-std-srvs-trigger *ngSwitchCase="'std_srvs/Trigger'" [onResponse]="response" (call)="callService($event)"></app-service-std-srvs-trigger>

    <app-service-default *ngSwitchDefault [onResponse]="response" (call)="callService($event)"></app-service-default>
  </div>
</div>
