<div class="card">
  <h6 class="card-title">
    {{ service.abbr }}
    <small class="text-muted">({{ service.type }} / Default)</small>
  </h6>

  <div class="card-body-sm">
    <div class="d-flex justify-content-between">
      <div class="input-group mr-2">
        <input type="text" class="form-control" [(ngModel)]="input" placeholder="JSON">
      </div>

      <button class="btn btn-secondary" type="button" (click)="callService(input, true)">Call</button>
    </div>

    <p [hidden]="!result">Result: {{ result }}</p>
  </div>
</div>
