<div>
  <p class="lead" style="font-size: 28px;">
    {{ name }}
    <span class="label label-info" ng-if="!hasNode()"><span class="lead">Without Node</span></span>
  </p>

  <cc-topic-template topic="e" ng-repeat="e in getDataForDomain(data.topics)" ng-if="filterAdvanced(e.name, advanced)"></cc-topic-template>

  <cc-service-template service="e" ng-repeat="e in getDataForDomain(data.services)" ng-if="filterAdvanced(e.name, advanced)"></cc-service-template>

  <cc-parameter ng-repeat="e in getDataForDomain(data.parameters)" ng-show="filterAdvanced(e.name, advanced)" parameter="e"></cc-parameter>
</div>
