<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal form-margin">
      <div class="form-group">
        <label>Time Difference</label>
        <p ng-show="$parent.latest_message">
          {{ $parent.latest_message.header.stamp.secs + $parent.latest_message.header.stamp.nsecs * 1e-9 - $parent.latest_message.since.data.secs - $parent.latest_message.since.data.nsecs * 1e-9 | number : 4 }} s
        </p>
      </div>
    </form>
  </div>
  
  <div class="col-sm-6">
    <form class="form-horizontal form-margin">
      <div class="form-group">
        <label>X</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="$parent.latest_message.motion.position.x" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">m</span>
        </div>
      </div>

      <div class="form-group">
        <label>Y</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="$parent.latest_message.motion.position.y" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">m</span>
        </div>
      </div>

      <div class="form-group">
        <label>Z</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="$parent.latest_message.motion.position.z" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">m</span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-6">
    <form class="form-horizontal form-margin">
      <div class="form-group">
        <label>Roll</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-value="getRoll()" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">°</span>
        </div>
      </div>

      <div class="form-group">
        <label>Pitch</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-value="getPitch()" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">°</span>
        </div>
      </div>

      <div class="form-group">
        <label>Yaw</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-value="getYaw()" ng-readonly="$parent.is_subscribing">
          <span class="input-group-addon">°</span>
        </div>
      </div>
    </form>
  </div>
</div>
