<div class="panel panel-default" [ngClass]="{'panel-success': toggle}">
  <div class="panel-heading clearfix">
    <button class="btn btn-default btn-sm pull-right" (click)="toggleSubscription(!$ctrl.toggle)" [(ngModel)]="toggle">{{ toggle ? 'Unsubscribe' : 'Subscribe' }}</button>

    <h3 class="panel-title">
      {{ topic.abbr }}
      <small style="font-size: 12px;">({{ topic.type }})</small>
    </h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-default pull-right" type="button" [disabled]="isSubscribing" style="margin-left: 10px;" (click)="publishMessage(message, true)">Publish</button>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="message" [readonly]="isSubscribing" placeholder="JSON">
          <span class="input-group-addon"></span>
        </div>
      </div>
    </div>
  </div>
</div>
