<div class="card-body-sm">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Orientation [x, y ,z, w]</label>
      <div class="input-group">
        <input type="text" class="form-control" [ngModel]="message && message.orientation.x" (ngModel) ="message.orientation.x" name="orientationX" [readonly]="isSubscribing">
        <input type="text" class="form-control" [ngModel]="message && message.orientation.y" (ngModel) ="message.orientation.y" name="orientationY" [readonly]="isSubscribing">
        <input type="text" class="form-control" [ngModel]="message && message.orientation.z" (ngModel) ="message.orientation.z" name="orientationZ" [readonly]="isSubscribing">
        <input type="text" class="form-control" [ngModel]="message && message.orientation.w" (ngModel) ="message.orientation.w" name="orientationW" [readonly]="isSubscribing">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Linear Acceleration [x, y, z]</label>
      <div class="input-group">
        <input type="text" class="form-control" [ngModel]="message && message.linear_acceleration.x" (ngModel) ="message.linear_acceleration.x" name="linearAccelerationX" [readonly]="isSubscribing">
        <input type="text" class="form-control" [ngModel]="message && message.linear_acceleration.y" (ngModel) ="message.linear_acceleration.y" name="linearAccelerationY" [readonly]="isSubscribing">
        <input type="text" class="form-control" [ngModel]="message && message.linear_acceleration.z" (ngModel) ="message.linear_acceleration.z" name="linearAccelerationZ" [readonly]="isSubscribing">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Angular Velocity [x, y, z]</label>
      <div class="input-group">
        <input type="text" class="form-control" [ngModel]="message && message.angular_velocity.x" (ngModel) ="message.angular_velocity.x" name="angularVelocityX" [readonly]="isSubscribing">
        <input type="text" class="form-control" [ngModel]="message && message.angular_velocity.y" (ngModel) ="message.angular_velocity.y" name="angularVelocityY" [readonly]="isSubscribing">
        <input type="text" class="form-control" [ngModel]="message && message.angular_velocity.z" (ngModel) ="message.angular_velocity.z" name="angularVelocityZ" [readonly]="isSubscribing">
      </div>
    </div>
  </form>

  <hr>

  <div class="d-flex">
    <button class="ml-auto btn btn-secondary" type="button" [disabled]="isSubscribing" (click)="publishMessage(message)">Publish</button>
  </div>
</div>
