<div class="container-fluid">
  <!-- No connection alert -->
  <div class="alert alert-danger col-sm-6 col-sm-offset-3" role="alert" ng-if="!$ctrl.isConnected">
    <p class="lead"><i class="glyphicon glyphicon-warning-sign"></i> Whoops...</p>
    The ROS Control Center is <b>not connected</b> to a robot running rosbridge_suite at {{ $ctrl.setting.address }}:{{ $ctrl.setting.port }}. You can change the URL in the <i>Settings</i> tab, further information can be found in the <a href="https://github.com/pantor/ros-control-center">GitHub Repository</a>.
  </div>

  <div class="alert alert-info col-sm-6 col-sm-offset-3" ng-if="$ctrl.isConnected && !$ctrl.hasFilteredDomains($ctrl.setting.advanced)">
    <p class="lead"><i class="glyphicon glyphicon glyphicon-th-list"></i> Loading or nothing to show...</p>
    In default mode, ROS Control Center does not show default nodes / parameters / services and topics. You can show every item by using the advanced view setting, either in the seperate settings tab or here:
    <center style="margin-top: 10px;">
      <button class="btn btn-info btn-sm" ng-click="$ctrl.setting.advanced = true">Enable Advanced View</button>
    </center>
  </div>

  <div class="row" ng-if="$ctrl.isConnected && $ctrl.hasFilteredDomains($ctrl.setting.advanced)">
    <div class="cols-xs-12 col-sm-8">
      <div class="row">
        <!-- Sidebar menu -->
        <div class="col-sm-3">
          <!-- Domains -->
          <div class="panel panel-default panel-domain" ng-class="{ 'panel-active': $ctrl.activeDomain == domain }" ng-repeat="domain in $ctrl.getDomains()" ng-if="$ctrl.Domains.filterAdvanced(domain, $ctrl.setting.advanced)" ng-click="$ctrl.setActiveDomain(domain)">
            <div class="panel-heading">
              <h3 class="panel-title">{{ domain }}</h3>
            </div>
          </div>

          <!-- Global parameters -->
          <cc-parameter ng-repeat="parameter in $ctrl.getGlobalParameters()" ng-show="$ctrl.Domains.filterAdvanced(parameter.name, $ctrl.setting.advanced)" parameter="parameter"></cc-parameter>
        </div>

        <div class="col-sm-9">
          <div ng-repeat="domain in $ctrl.getDomains()" ng-show="$ctrl.activeDomain == domain">
            <p class="lead" style="font-size: 28px;">{{ domain }}</p>

            <!-- Topics -->
            <cc-topic topic="topic" ng-repeat="topic in $ctrl.Domains.getDataForDomain($ctrl.data.topics, domain, $ctrl.setting.advanced)"></cc-topic>

            <!-- Services -->
            <cc-service service="service" ng-repeat="service in $ctrl.Domains.getDataForDomain($ctrl.data.services, domain, $ctrl.setting.advanced)"></cc-service>

            <!-- Parameters -->
            <cc-parameter parameter="parameter" ng-repeat="parameter in $ctrl.Domains.getDataForDomain($ctrl.data.parameters, domain, $ctrl.setting.advanced)"></cc-parameter>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 sidebar hidden-xs">
      <!-- Console Log -->
      <div class="console">
        <table class="table">
          <tr ng-repeat="logEntry in $ctrl.data.rosout" ng-if="$ctrl.Domains.filterAdvanced(logEntry.abbr, $ctrl.setting.advanced)">
            <td>
              <strong ng-class="{ 'text-danger bg-danger': logEntry.level > 8, 'text-danger': logEntry.level == 8, 'text-warning': logEntry.level == 4, 'text-info': logEntry.level == 2, 'text-muted': logEntry.level < 2 }">
                {{ logEntry.abbr }}
              </strong>
              <br>
              <small><i class="glyphicon glyphicon-time"></i> {{ logEntry.dateString }}</small>
            </td>
            <td>{{ logEntry.msg }}</td>
          </tr>
        </table>
      </div>

      <!-- Battery Status -->
      <div class="battery" ng-if="$ctrl.setting.battery">
        <strong>Battery</strong><br>

        <div class="row" ng-show="$ctrl.batteryStatus">
          <div class="col-xs-4 col-sm-3">
            <p>{{ 100 * $ctrl.batteryStatus | number: 1 }} %</p>
          </div>

          <div class="col-xs-8 col-md-9">
            <uib-progressbar type="{{ $ctrl.batteryStatus > 0.3 ? 'success' : 'danger' }}" min="0" max="1" value="$ctrl.batteryStatus"></uib-progressbar>
          </div>
        </div>

        <div class="row" ng-show="!$ctrl.batteryStatus">
          <div class="col-xs-12">
            <p><i>No battery data yet.</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
