<div class="container-fluid">
  <!-- No connection alert -->
  <div class="alert alert-info col-sm-6 col-sm-offset-3" role="alert" ng-if="!vm.isConnected">
    <p class="lead"><i class="glyphicon glyphicon-warning-sign"></i> Whoops...</p>
    Is <b>not connected</b> to a robot running rosbridge_suite at {{ vm.setting.address }}:{{ vm.setting.port }}. <br />
    You can change the URL in the <i>Settings</i> tab, further information can be found in the <a href="https://github.com/gaug-cns/ros-control-center/wiki">GitHub Wiki</a>.
  </div>

  <div class="row" ng-if="vm.isConnected">
    <div class="cols-xs-12 col-sm-8">
      <div class="row">
        <!-- Sidebar menu -->
        <div class="col-sm-3">
          <!-- Domains -->
          <div class="panel panel-default panel-domain" ng-class="{ 'panel-active': vm.activeDomain == domain }" ng-repeat="domain in vm.getDomains()" ng-if="vm.Domains.filterAdvanced(domain, vm.setting.advanced)" ng-click="vm.setActiveDomain(domain)">
            <div class="panel-heading">
              <h3 class="panel-title">{{ domain }}</h3>
            </div>
          </div>

          <!-- Global parameters -->
          <cc-parameter ng-repeat="parameter in vm.getGlobalParameters()" ng-show="vm.Domains.filterAdvanced(parameter.name, vm.setting.advanced)" parameter="parameter"></cc-parameter>
        </div>

        <div class="col-sm-9">
          <div ng-repeat="domain in vm.getDomains()" ng-show="vm.activeDomain == domain">
            <p class="lead" style="font-size: 28px;">{{ domain }}</p>

            <!-- Topics -->
            <cc-topic topic="topic" ng-repeat="topic in vm.Domains.getDataForDomain(vm.data.topics, domain, vm.setting.advanced)"></cc-topic>

            <!-- Services -->
            <cc-service service="service" ng-repeat="service in vm.Domains.getDataForDomain(vm.data.services, domain, vm.setting.advanced)"></cc-service>

            <!-- Parameters -->
            <cc-parameter parameter="parameter" ng-repeat="parameter in vm.Domains.getDataForDomain(vm.data.parameters, domain, vm.setting.advanced)"></cc-parameter>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 sidebar hidden-xs">
      <!-- Console Log -->
      <div class="console">
        <table class="table">
          <tr ng-repeat="logEntry in vm.data.rosout" ng-if="vm.Domains.filterAdvanced(logEntry.abbr, vm.setting.advanced)">
            <td>
              <strong ng-class="{ 'text-danger bg-danger': logEntry.level > 8, 'text-danger': logEntry.level == 8, 'text-warning': logEntry.level == 4, 'text-info': logEntry.level == 2, 'text-muted': logEntry.level < 2 }">
                {{ logEntry.abbr }}
              </strong>
              <br>
              <small><i class="glyphicon glyphicon-time"></i> {{ logEntry.dateString }}</small>
            </td>
            <td>{{ logEntry.msg }}</td>
          </tr>
        </table>
      </div>

      <!-- Battery Status -->
      <div class="battery" ng-if="vm.setting.battery">
        <strong>Battery</strong><br>

        <div class="row" ng-show="vm.batteryStatus">
          <div class="col-xs-4 col-sm-3">
            <p>{{ 100 * vm.batteryStatus | number: 1 }} %</p>
          </div>

          <div class="col-xs-8 col-md-9">
            <uib-progressbar type="{{ vm.batteryStatus > 0.3 ? 'success' : 'danger' }}" min="0" max="1" value="vm.batteryStatus"></uib-progressbar>
          </div>
        </div>

        <div class="row" ng-show="!vm.batteryStatus">
          <div class="col-xs-12">
            <p><i>No battery data yet.</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
