<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Settings</h2>

      <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-4">
          <select class="form-control" ng-model="$ctrl.index" ng-change="$ctrl.save()">
            <option ng-repeat="s in $ctrl.settings track by $index" value="{{ $index }}">{{ s.name }}</option>
          </select>
        </div>

        <div class="col-xs-8">
          <button class="btn btn-success" ng-click="$ctrl.add()">Add Setting</button>
          <button class="btn btn-danger" ng-click="$ctrl.remove()">Remove Setting</button>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Name" ng-model="$ctrl.settings[$ctrl.index].name" ng-change="$ctrl.save()">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">URL</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Address" ng-model="$ctrl.settings[$ctrl.index].address" ng-change="$ctrl.save()">
                <span class="help-block">Please reload after URL change</span>
              </div>
              <div class="col-sm-2">
                <input type="number" class="form-control" placeholder="Port" ng-model="$ctrl.settings[$ctrl.index].port" ng-change="$ctrl.save()">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Log</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Console" ng-model="$ctrl.settings[$ctrl.index].log" ng-change="$ctrl.save()">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Image Preview Port</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" placeholder="Port" ng-model="$ctrl.settings[$ctrl.index].imagePreview.port" ng-change="$ctrl.save()">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Image Width &times; Height</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" placeholder="Width" ng-model="$ctrl.settings[$ctrl.index].imagePreview.width" ng-change="$ctrl.save()">
              </div>
              <div class="col-sm-2">
                <input type="number" class="form-control" placeholder="Height" ng-model="$ctrl.settings[$ctrl.index].imagePreview.height" ng-change="$ctrl.save()">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Image Quality</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" placeholder="Quality" ng-model="$ctrl.settings[$ctrl.index].imagePreview.quality" ng-change="$ctrl.save()">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="$ctrl.settings[$ctrl.index].battery" ng-change="$ctrl.save()"> Battery
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Battery Topic</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="/battery" ng-model="$ctrl.settings[$ctrl.index].batteryTopic" ng-change="$ctrl.save()">
                <span class="help-block">The message type should be <i>std_msgs/Float32</i>.</span>
              </div>
            </div>
          </form>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="$ctrl.settings[$ctrl.index].advanced" ng-change="$ctrl.save()"> Advanced View
                    <span class="help-block">In the default mode, only nodes / parameters with a capital first letter are shown. This can be used to show only the relevant information. In the advanced view, every item is shown.</span>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
