<div class="panel panel-default" ng-class="{'panel-success': $ctrl.toggle}">
  <div class="panel-heading clearfix">
    <button class="btn btn-default btn-sm pull-right" ng-click="$ctrl.toggleSubscription(!$ctrl.toggle)" ng-model="$ctrl.toggle" uib-btn-checkbox>{{ $ctrl.toggle ? 'Unsubscribe' : 'Subscribe' }}</button>

    <h3 class="panel-title">
      {{ $ctrl.topic.abbr }}
      <small style="font-size: 12px;">({{ $ctrl.topic.type }})</small>
    </h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <form class="form-horizontal form-margin">
          <div class="form-group">
            <label>X</label>
            <div class="input-group">
              <input type="number" class="form-control" ng-model="$ctrl.message.position.x" ng-readonly="$ctrl.isSubscribing">
              <span class="input-group-addon">m</span>
            </div>
          </div>

          <div class="form-group">
            <label>Y</label>
            <div class="input-group">
              <input type="number" class="form-control" ng-model="$ctrl.message.position.y" ng-readonly="$ctrl.isSubscribing">
              <span class="input-group-addon">m</span>
            </div>
          </div>

          <div class="form-group">
            <label>Z</label>
            <div class="input-group">
              <input type="number" class="form-control" ng-model="$ctrl.message.position.z" ng-readonly="$ctrl.isSubscribing">
              <span class="input-group-addon">m</span>
            </div>
          </div>
        </form>
      </div>

      <div class="col-sm-6">
        <form class="form-horizontal form-margin">
          <div class="form-group">
            <label>Q0</label>
            <div class="input-group">
              <input type="number" class="form-control" ng-value="$ctrl.Quaternions.getRoll($ctrl.message.orientation)" ng-readonly="true">
              <span class="input-group-addon">°</span>
            </div>
          </div>

          <div class="form-group">
            <label>Pitch</label>
            <div class="input-group">
              <input type="number" class="form-control" ng-value="$ctrl.Quaternions.getPitch($ctrl.message.orientation)" ng-readonly="true">
              <span class="input-group-addon">°</span>
            </div>
          </div>

          <div class="form-group">
            <label>Yaw</label>
            <div class="input-group">
              <input type="number" class="form-control" ng-value="$ctrl.Quaternions.getYaw($ctrl.message.orientation)" ng-readonly="true">
              <span class="input-group-addon">°</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
