<div class="row">
    <div class="col-sm-6">
        <form class="form-horizontal form-margin">
            <div class="form-group">
                <label>Acceleration X</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.linear_acceleration.x" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">m/s<sup>2</sup></span>
                </div>
            </div>

            <div class="form-group">
                <label>Acceleration Y</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.linear_acceleration.y" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">m/s<sup>2</sup></span>
                </div>
            </div>

            <div class="form-group">
                <label>Acceleration Z</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.linear_acceleration.z" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">m/s<sup>2</sup></span>
                </div>
            </div>
        </form>
    </div>
  
    <div class="col-sm-6">
        <form class="form-horizontal form-margin">
            <div class="form-group">
                <label>Angular Velocity X</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.angular_velocity.x" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">rad/s</span>
                </div>
            </div>

            <div class="form-group">
                <label>Angular Velocity Y</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.angular_velocity.y" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">rad/s</span>
                </div>
            </div>

            <div class="form-group">
                <label>Angular Velocity Z</label>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$parent.latest_message.angular_velocity.z" ng-readonly="$parent.is_subscribing">
                    <span class="input-group-addon">rad/s</span>
                </div>
            </div>
        </form>
    </div>
</div>
