<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Axis 1</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.axes[0]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Axis 2</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.axes[1]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Axis 3</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.axes[2]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Axis 4</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.axes[3]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Axis 5</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.axes[4]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Axis 6</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.axes[5]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>Button Triangle / 1</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.buttons[0]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Button Circle / 2</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.buttons[1]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Button Cross / 3</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.buttons[2]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Button Square / 4</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.buttons[3]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Button Select / 5</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.buttons[4]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label>Button Start / 6</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-model="$parent.latest_message.buttons[5]" ng-readonly="$parent.is_subscribing">
        <span class="input-group-addon"></span>
      </div>
    </div>
  </div>
</div>
