.sidebar {
  border-left: 1px solid #f4f5f7;

  overflow-x: scroll;
  overflow-y: auto;
}
.console-row {
  border-bottom: 1px solid #f4f5f7;
}
.battery {
  position: absolute;
  bottom: 0;
  padding: 15px 15px 0 15px;
  width: 100%;

  background-color: white;
  border-top: 1px solid #f4f5f7;
}
